.AppPassword{
    background-color: #24232b;
    padding:24px;
    /* width:50%; */
    align-items: center;
  
  }
  
  .header{
    display:flex;
    color:white;
    justify-content: space-between;
    font-weight:700;
    font-size: 24px;
  
  }
  
  button{
    background-color: #2a8b8b;
    padding:10px;
    border-radius: 2px;
    border:none;
    text-transform: uppercase;
    font-weight:700;
    cursor:pointer;
    color:white;
  }
  
  .copyBtn{
    font-size:10px;
    /* padding:24px; */
    height:30px;
  }
  
  .charLength{
    display:flex;
    flex-direction: column;
    color:white;
    font-size:24px;
    font-weight: 700;
    padding-bottom:24px;
    margin-top:10px;
  
  }
  
  .char {
    width:100%;
    display: flex;
    justify-content: space-between;
    padding-bottom:24px;
  }
  
  .checkboxData{
    display:grid;
    grid-template-columns: auto auto;
    font-size:20px;
    font-weight: 700;
    color:white;
    padding:2px;
  }
  .checkboxData div{
    display:flex;
    gap:5px;
    padding-bottom:20px;
  }
  
  .makePassword{
    display:flex;
    align-items: center;
    justify-content: center;
  }
  .genratePassword{
    height:40px;
    width:20%;
  }
  
  .errorMessage {
    color: red;
    padding-bottom: 5px;
  }
  
  .password-strength {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
    color: white;
  }